@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
  background:#fff;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

.shadow-cstm {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.box-cstm {
  width: 100%;
  height: 50px;
  background:#fff;
  border: solid black;
  border-color: black;
}

.box-border-cstm {
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(0deg);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
